html
head
link(rel='stylesheet', href='/stylesheets/adminMenu.css')
body
    nav(class='top-menu')
        ul(class='menu-main')
            li(class='left-item')
                a(href='/getAdmin')Добавить товары
            li(class='left-item')
                a(href='')Редактирование товаров
            li(class='left-item')
                a(href='')Выход из админки