html
head
link(rel='stylesheet', href='/stylesheets/admin.css')
body
    form(method="post", action="/goodLoad", enctype="multipart/form-data")
        p Добавление товара в базу данных
        br
        Название товара
        input(type="text", name="name")
        br
        Цена
        input(type="text", name="price")
        br
        Описание товара
        br
        textarea(type="text", name="goodData")
        br
        input(type="file", name="photo", multiple accept="image/*,image/jpeg")
        br
        input(type="submit", value="Добавить товар")