html
# include ./menu
head
link(rel='stylesheet', href='/stylesheets/loginForm.css')
body
    - var images = title;
    h1 Магазин


        div(class="grid")
        - title.forEach(function (img, index) {
          input(type="checkbox" id="pic-"+index)
          img(src="static/img/gallery/"+img)
        - });
