html
include ./menu
head
link(rel='stylesheet', href='/stylesheets/loginForm.css')
body
  form(id="loginForm", class="login", method="get", action="/logIn")
    p
      label(for="login")Логин
      input(type="text", name="login", id="login", value="name@example.com")
    p
      label(for="password")Пароль:
      input(type="password", name="password", id="password", value="4815162342")
    p(class="login-submit")
      button(type="submit", class="login-button")Войти
    p(class="registration") 
        a(onclick="document.getElementById('registrForm').removeAttribute('hidden');document.getElementById('loginForm').setAttribute('hidden', 'true');")Зарегистрироваться
    p(class="forgot-password") 
        a(href="index.html")Забыл пароль?

   form(id="registrForm", class="login" hidden="hidden", method="get", action="/registrationUser")
    p
      label(for="login")Логин
      input(type="text", name="login", id="registr_login", value="vasya_pupkin")
    p
      label(for="password")Пароль:
      input(type="password", name="password", id="registr_password", value="4815162342")
    p
      label(for="email")Почта
      input(type="text", name="email", id="registr_email", value="name@example.com")
    p(class="login-submit")
      button(type="submit", class="login-button", id="registr-button")Регистрация

script.
 $(document).ready(function () {
     $("#registr-button").click(function () {
         var obj = {};
         obj.login = $("registr_login").value;
         obj.password = $("registr_password").value;
         obj.email = $("registr_email").value;
         $.post('/registerUser', obj);
         });
     });