head
link(rel='stylesheet', href='/stylesheets/menu.css')
nav(class="two")
    ul
        li
            a(href="http://localhost:3000")Главная
        li
            a(href="")Товары
        li
            a(href="")Корзина